*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
}
table{
    width: 100%;
    font-size: 14px;
}
